<div class="container-fluid text-center" style="background-image: url('../img/banner.jpg');background-repeat:no-repeat;background-position:center;background-color:#546580;color:#fff;height:300px;overflow: hidden">
	<h1>OpenBve</h1>
	<h2>A free and opensource 3d real train simulator</h2>
	<a class="btn btn-lg btn-default" href="download"><span class="glyphicon glyphicon-download"></span> Get it</a>
</div>

<nav class="navbar" style="background-color:#EE8C11" data-spy="affix" data-offset-top="297">
		<ul class="nav navbar-nav">
		<li><img src="../img/logo.png" alt="" height="45"></li>
		<li><a href="../index.html">Home</a></li>
		<li><a href="../download">Download</a></li>
		<li><a href="http://bve.shoutwiki.com/wiki/Main_Page">Wiki</a></li>
		<li><a href="../extensions">Extensions</a></li>
		<li class="active"><a href="index.html">Community</a></li>
	</ul>
</nav>
